 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Sobre mi</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-justify">
                    <p>Em dic Mireia Gutiérrez i la meva vocació és el sector audiovisual. Gaudeixo buscant solucions, transformant idees en realitats, paraules en imatges, narrant històries i donant forma a projectes de tota mena.</p>
                    <p>Vaig estudiar Comunicació Audiovisual i, més tard, Publicitat i Relacions Públiques. Com a resultat de la motivació i la passió desmesurades he realitzat, amb eficiència, tota mena de feines relacionades amb el sector: com a tècnica audiovisual, càmera, redactora, guionista, editora…</p>
                    <p>Finalment, m’agradaria destacar que fa uns anys eren inimaginables la infinitat de possibilitats que ens brinda, avui dia, la comunicació i el sector audiovisual. Per aquest motiu, em sento excepcionalment agraïda d’haver escollit un camp en el qual reinventar-me constantment i aprendre cada dia.</p>
                </div>
            </div>
        </div>
    </section>
