 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Acerca de</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Soy comunicadora por vocación. Me describo principalmente como redactora y guionista, pero también tengo una gran experiencia como entrevistadora, redactora y diseñadora de dosieres, operadora de cámara y montadora.</p>
                </div>
                <div class="col-lg-4">
                    <p> Disfruto documentándome, transformando ideas en palabras y dando forma a proyectos audiovisuales. </p>
                </div>
            </div>
        </div>
    </section>
