 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Sobre mí</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p>Soy comunicadora por vocación. Quien me conoce bien, sabe que en cualquiera de mis mochilas podrá encontrar bolígrafos y libretas. Disfruto documentándome, transformando ideas en palabras y dando forma a proyectos audiovisuales.</p>
                    <p>Para entender un poco mejor quién soy, voy a dar cuatro pinceladas sobre mí. Cuando era una niña, tenía claro que cuando fuera mayor quería dedicarme al sector audiovisual. Por este motivo, cuando crecí decidí estudiar Comunicación Audiovisual y Publicidad y Relaciones Públicas. Como resultado de una motivación y una pasión desmedidas he realizado desde radio (dirigiendo mi propio programa), diseño y gestión de redes sociales hasta, por supuesto, vídeos de toda índole y televisión de calidad (como guionista, redactora, entrevistadora y operadora de cámara).</p>
                    <p>En definitiva, en mi infancia eran inimaginables la infinidad de posibilidades que brindaría hoy por hoy el sector audiovisual y por esto, me siento excepcionalmente agradecida de haber escogido un campo en el que reinventarme y aprender cosas nuevas cada día.</p>
                </div>
            </div>
        </div>
    </section>
