 <!-- Contact Section -->
 <section id="serveis">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Serveis</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-4 text-left">
                <ul>
                    <li>Redacció de continguts.</li>
                    <li>Guió.</li>
                    <li>Vídeos corporatius.</li>
                    <li>Documentals.</li>
                    <li>Televisió.</li>
                    <li>Redacció de notes de premsa.</li>
                    <li>Continguts per xarxes socials.</li>
                    <li>Newsletters.</li>
                    <li>Esdeveniments.</li>
                    <li>Fotografia.</li>
                    <li>Streamings.</li>
                </ul>
            </div>
        </div>
    </div>
</section>